<div class="header" [ngStyle]="{'width': opened ? '80%' : '100%'}">
    <div class="box"></div>
    <div class="header-days">
      <div
        (click)="changeTasks()"
        class="header-day"
        *ngFor="let day of days"
      >
      <div>{{day.format("dd") }}</div>
        <div>
        {{day.date()}}
        </div>
      </div>
    </div>
  </div>
  <div class="main-container">
    <div class="time-container">
      <div class="hour" *ngFor="let hour of showHours; let i = index">
        {{ hour | formatHours }}
      </div>
    </div>
    <div class="schedule">
      <div class="day-column" *ngFor="let day of days">
        <div class="day" *ngFor="let hour of hours">
          <div
            class="timeslot"
            *ngFor="let timeslot of timeslotCount; let i = index"
            [ngStyle]="{
              'background-color':
                hour > workEndHours ||
                hour - 1 < workStartHours ||
                day.day() > 5 ||
                day.day() == 0 ||
                hour == dinnerHour
                  ? '#ABBDDF'
                  : 'white'
            }"
            (click)="addTask($event, day, hour, i)"
            (mouseup)="compareD(hour, workStartHours, (i * 30), workStartMinutes)"
          ></div>
        </div>
        <div class="task-container">
          <ng-container *ngFor="let task of tasks">
            <task
              (dblclick)="showTaskData(task)"
              [task]="task"
              [day]="day"
              *ngIf="(task | compareDate: day)"
              [updateTaskDate]="updateTaskDate"
            ></task>
          </ng-container>
        </div>
      </div>
    </div>
  </div>