<div class="header">
    <div class="box"></div>
    <div class="header-days">
      <div
        (click)="changeTasks()"
        class="header-day"
        *ngFor="let day of days"
      >
        <!-- {{ day.date() + " " + day.format("dddd") }} -->
        {{day.date()}}
      </div>
    </div>
  </div>
  <div class="main-container">
    <div class="time-container">
      <div class="hour" *ngFor="let hour of hours; let i = index">
        {{ formatHours(hour) }}
      </div>
    </div>
    <div class="schedule">
      <div class="day-column" *ngFor="let day of days">
        <div class="day" *ngFor="let hour of hours">
          <div
            class="timeslot"
            [ngStyle]="{
              'background-color':
                hour > 17 ||
                hour < 8 ||
                day.day() > 5 ||
                day.day() == 0 ||
                hour == 13
                  ? '#ABBDDF'
                  : 'white'
            }"
            *ngFor="let timeslot of timeslotCount; let i = index"
            (click)="addTask($event, day, hour, i)"
          ></div>
        </div>
        <div class="task-container">
          <ng-container *ngFor="let task of tasks">
            <task
              (dblclick)="openedChange.emit()"
              [task]="task"
              [day]="day"
              *ngIf="(task | compareDate: day)"
            ></task>
          </ng-container>
        </div>
      </div>
    </div>
  </div>