<mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav
      style="width: 20%"
      position="end"
      #sidenav
      mode="over"
      [(opened)]="opened"
      [fixedInViewport]="true"
    >
      <side-bar
        [removeReport]="removeReport"
        (openedChange)="changeOpened()"
      ></side-bar>
    </mat-sidenav>
    <mat-sidenav-content style="overflow: hidden;">
      <div class="navbar">
        <div>
          <button mat-stroked-button [matMenuTriggerFor]="menu">
            {{ activeDaysMenu }}
          </button>
          <mat-menu #menu="matMenu">
            <button
              (click)="changeActiveDay(item)"
              *ngFor="let item of daysMenu"
              mat-menu-item
            >
              {{ item }}
            </button>
          </mat-menu>
        </div>
        <div class="date-changer">
          <button (click)="removeDay()" mat-icon-button>
            <mat-icon fontIcon="arrow_back_ios"></mat-icon>
          </button>
          <span (click)="picker.open()" style="position: relative; cursor: pointer; font-weight: 500;">
            {{ moment(currentDay).format("DD MMMM YYYY") }}
            <input (dateChange)="changeDate($event)" style="visibility: hidden; position: absolute; left: 0; top: 0; right: 0; bottom: 0;" [matDatepicker]="picker">
          </span>
          <mat-datepicker [startAt]="currentDay.toDate()" #picker></mat-datepicker>
          <button (click)="addDay()" mat-icon-button>
            <mat-icon fontIcon="arrow_forward_ios"></mat-icon>
          </button>
        </div>
        <button (click)="setCurrentDay()" mat-stroked-button>Сегодня</button>
        <mat-icon (click)="openSettings()" [ngStyle]="{ color: 'gray', cursor: 'pointer' }" fontIcon="settings"></mat-icon>
      </div>
      <schedule
        [opened]="opened"
        [activeDaysMenu]="activeDaysMenu"
        (openedChange)="changeOpened()"
        [currentDay]="currentDay"
        [tasks]="tasks"
        [workStartHours]="workStartHours"
        [workEndHours]="workEndHours"
        [workStartMinutes]="workStartMinutes"
        [workEndMinutes]="workEndMinutes"
        [dinnerHour]="dinnerHour"
        [dinnerMinutes]="dinnerMinutes"
      ></schedule>
    </mat-sidenav-content>
  </mat-sidenav-container>
  