<mat-sidenav-container>
  <mat-sidenav
    style="width: 20%"
    position="end"
    #sidenav
    mode="side"
    [(opened)]="opened"
    contenteditable
    (input)="onTextChange($event.target)"
  >
    заметки
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="navbar">
      <div>
        <button mat-stroked-button [matMenuTriggerFor]="menu">
          {{ activeDaysMenu }}
        </button>
        <mat-menu #menu="matMenu">
          <button
            (click)="changeActiveDay(item)"
            *ngFor="let item of daysMenu"
            mat-menu-item
          >
            {{ item }}
          </button>
        </mat-menu>
      </div>
      <div class="date-changer">
        <button (click)="removeDay()" mat-icon-button>
          <mat-icon fontIcon="arrow_back_ios"></mat-icon>
        </button>
        <span>{{moment(currentDay).format("DD MMMM YYYY")}}</span>
        <button (click)="addDay()" mat-icon-button>
          <mat-icon fontIcon="arrow_forward_ios"></mat-icon>
        </button>
      </div>
      <button (click)="setCurrentDay()" mat-stroked-button>Сегодня</button>
    </div>
    <schedule
      [opened]="opened"
      [activeDaysMenu]="activeDaysMenu"
      (openedChange)="changeOpened()"
      [currentDay]="currentDay"
    ></schedule>
  </mat-sidenav-content>
</mat-sidenav-container>
